USE [ProductsDB]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 11/28/2025 12:32:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[Quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [Name], [Description], [Quantity]) VALUES (1, N'testput', N'testput', 2)
INSERT [dbo].[Products] ([Id], [Name], [Description], [Quantity]) VALUES (2, N'test', N'test', 1)
INSERT [dbo].[Products] ([Id], [Name], [Description], [Quantity]) VALUES (4, N'test2', N'test2', 2)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
